<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta hhtp-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Natural Remedies - Healthier living</title>
    <link rel = "stylesheet" href = "static/style.css">
    <script src="https://kit.fontawesome.com/0948178409.js" crossorigin="anonymous"></script>
</head>
<body>
<div id = "contact">
    <div class = "container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Remedies</a>
                    <div class="dropdown-content">
                        <a href="/cold">Cold</a>
                        <a href="/headache">Headache</a>
                        <a href="/stomach">Stomach Ache</a>
                    </div>
                </li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
            </ul>
        </nav>
            </ul>
        </nav>
        <div class = "row">
            <div class = "contact-left">
                <h1 class = "sub-title">Contact Us</h1>
                <p><i class="fa-solid fa-paper-plane"></i>info@remedies.com</p>
                <p><i class="fa-solid fa-phone-volume"></i>0123456789</p>
                <div class = "social-icons">
                    <a href = "https:////facebook.com"><i class="fa brands fa-facebook"></i></a>
                    <a href = "https:////twitter.com"><i class="fa-brands fa-twitter-square"></i></a>
                    <a href = "https:////instagram.com"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <a href = "static/images/mission.pdf" download class = "btn btn2">Download Our Mission</a>
            </div>
            <div class = "contact-right">
                <form name = "submit-to-google-sheet">
                    <input type = "text" name = "Name" placeholder = "Your Name" required>
                    <input type = "email" name = "Email" placeholder="Your Email" required>
                    <textarea name = "Message" rows = "6" placeholder="Your Message"></textarea>
                    <button type="submit"class = "btn btn2"> Submit</button> </button>
                </form>
                <span id = "msg"></span>
            </div>
        </div>
    </div>
    

</div>
</body>
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbz-qT-n2XAW64Fpt__0RQ5Bk0Qz_cLtpWucYoZO5q29VkSYR6cptcDlB67nOcR8kVcuZA/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent successfully"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>